{
    "env": {
        "commonjs": true,
        "es2021": true,
        "node": true
    },
    "extends": "@squadcraft/squadcraft",
    "parserOptions": {
        "ecmaVersion": 12
    },
    "rules": {
        "linebreak-style": ["error", "windows"],
        "indent": ["error", 2]
    }
}
